extends template

block content
  h1 Vous cherchez quelque chose?
  .row
    each model, modelName in models
      .col-md-4  
        .card
          .card-header
            a(href="/html/"+modelName)= modelName
            |  (
            a(href="/json/"+modelName) json
            | )
          .card-block
            ul
              each property, propertyName in model.schema.paths
                if propertyName != "__v"
                  li= propertyName
        br
