extends template
include mixin/properties.pug

block content  
  .container-fluid    
    +properties(json, schema, name)
    
    .accordion
      .card
        .card-header
          h3
            button.btn.btn-link(data-toggle="collapse" data-target="#jsonS", aria-expanded="true", aria-controls="jsonS") JSON.stringify
        div.collapse(id="jsonS", aria-labelledby="jsonS" data-parent="#accordion")
          .card-block                  
            pre
              code.json= JSON.stringify(json, null, '  ')
    
    .accordion
      .card
        .card-header
          h3
            button.btn.btn-link(data-toggle="collapse" data-target="#schema", aria-expanded="true", aria-controls="schema") Afficher le Schema
        div.collapse(id="schema", aria-labelledby="schema" data-parent="#accordion")
          .card-block                  
            pre
              code.json= JSON.stringify(schema, null, '  ')
              
    .accordion
      .card
        .card-header
        div.collapse(id="bottle", aria-labelledby="bottle" data-parent="#accordion")
          .card-block                  
            pre
              code.json= JSON.stringify({bottle_id : "h0sng41"}, null, '  ')
